.card-img-top {
  background: linear-gradient(217deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 70.71%), url("https://source.unsplash.com/featured/?restaurant");
  background-position: center;
  background-size: cover;
}